/* src/components/ProductGrid/ProductGrid.module.css */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns (default) */
  gap: 24px;
}

/* This new class will be applied when filters are hidden */
.gridFullWidth {
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
}


/* --- RESPONSIVENESS --- */
@media (max-width: 900px) {
  .grid, .gridFullWidth {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on tablet */
    gap: 16px;
  }
}

@media (max-width: 480px) {
  .grid, .gridFullWidth {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on mobile */
    gap: 16px;
  }
}